/* Define estilos globais para todos os elementos da página */
* {
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão de todos os elementos */
    box-sizing: border-box; /* Inclui bordas e preenchimentos na largura e altura total dos elementos */
}

/* Estilos para o elemento <header> */
header {
    background-color: rgb(4, 135, 250); /* Define a cor de fundo do cabeçalho */
    height: 60px; /* Define a altura do cabeçalho */
    text-align: center; /* Centraliza o texto dentro do cabeçalho */
}

/* Estilos para a imagem com id "im" */
#im1 {
    margin-right: 40px; /* Adiciona uma margem à direita da imagem */
    margin-top: 5px; /* Adiciona uma margem no topo da imagem */
}

/* Estilos para o elemento <h1> */
h1 {
    color: gold; /* Define a cor do texto do <h1> como dourado */
}

/* Estilos para o elemento <body> */
body {
    background-image: url(./img/investe.jpg); /* Define uma imagem de fundo para a página */
}

/* Estilos para o carrossel com id "carouselExampleSlidesOnly" */
#carouselExampleSlidesOnly {
    margin-left: 900px; /* Adiciona uma margem à esquerda do carrossel */
    margin-right: 50px; /* Adiciona uma margem à direita do carrossel */
}

/* Estilos para o parágrafo com id "p1" */
#p1 {
    color: white; /* Define a cor do texto como branca */
    text-align: center; /* Centraliza o texto */
    font-size: 40px; /* Define o tamanho da fonte como 40 pixels */
    margin-left: 30%; /* Define a margem esquerda como 30% da largura do elemento pai */
    margin-right: 30%; /* Define a margem direita como 30% da largura do elemento pai */
}

/* Estilos para o parágrafo com id "p2" */
#p2 {
    color: white; /* Define a cor do texto como branca */
    text-align: center; /* Centraliza o texto */
    font-size: 40px; /* Define o tamanho da fonte como 40 pixels */
}

/* Estilos para o botão com id "b2" */
#b2 {
    margin-left: 41.5%; /* Adiciona uma margem à esquerda do botão */
}

/* Estilos para o elemento com id "c1" */
#c1 {
    font-size: 40px; /* Define o tamanho da fonte como 40 pixels */
}




